/*--------------------------------------------------------  RESPONSIVENESS FOR MOBILE -------------------------------------------------------*/
@media only screen and (min-width:  425px) { 

    body,html {
        font-family: sans-serif;
        height: 100%;
        margin: 0;
    }
    /* ------------------------------- HERO BANNER IMAGE ----------------------- */
    .hero-banner {
        background-color: #f5f7fa;
        height: 100%;
    }
    .up {
        width: 5%;
        position: fixed;
        right: 3px;
        bottom: 12px
    }
    .hero-banner .up:hover {
        cursor: pointer;
    }
    header {
        display: flex;
        align-items: center;
        height: 50vh;
        justify-content: center;
    }
        /* ------------------------------- THE ELEMENT TO APPLY THE ANIMATION -----------------------*/
    .animation {
        justify-content: center;
        align-items: center;
        width: 80vw;
        height: 75vh;
        border: solid 15px;
        border-color: rgb(127 136 131);
        animation-name: animatedBorder;
        animation-duration: 2s;
        animation-iteration-count: infinite;    
        animation-timing-function: ease-in;
        animation-direction: alternate;
        margin-top: 2rem;
    }
    @keyframes animatedBorder {
        0% {border-color: rgb(127 136 131);}
        25% {border-color: rgb(189 191 180);}
        75% {border-color: rgb(188 147 118);}
        100% {border-color: rgb(195 172 130);}
    }
    picture {
        padding: 0rem 0.5rem;
    }
    main {
        padding: 0rem 1rem;
    }
    
    img {
        width: 30%;
        margin-left: 0.5rem;
        margin-top: 0.5rem;
    }
    /* Title */
    .title {
        position: absolute;
        top: 80px;
        right: 63px;
        text-align: center;
        padding: 0.2rem;
        margin: 0;
        border: solid;
        width: 25vw; 
        border-color: black;
        font-size: 1rem;
    }
    h1, h2, h3 {
        font-family: 'Jost', sans-serif;
    }
    .hi {
        position: absolute;
        top: 121px;
        right: 66px;
        font-size: 1.2rem;
    }
    main p {
        font-size: 0.73rem;
        margin-top: 0.3rem;
        margin-bottom: 0;
    }
    /* ------------------------------ EMAIL ---------------------------------- */
    .email {
        display: flex;
        justify-content: space-between;
        border-top: 2px solid #121831;
        border-bottom: 2px solid #121831;
        border-left: none;
        border-right: none;
        padding: 0.2rem 0rem;
        margin-top: 0.2rem;
    }
    .email p {
        font-family: 'Jost', sans-serif;
        font-weight: 600;
        font-size: 0.9rem;
        margin: 0;
    } 
    button {
        padding: 0.2rem;
        margin: 0.1rem 0rem;
        background-color: #121831;
        color: white;
        border: none;
        font-size: 0.6rem;
        /* border: 1px solid #121831; */
    }
    button:hover {
        background-color: rgb(195 172 130);
        color: black;
        font-weight: 500;
    }
    /* ----------------------------------------------------- NAV BAR ----------------------------------------------------- */
    nav {
        font-family: 'Jost', sans-serif;
        position: fixed;
        width: 100%;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #121831;
        margin: 0;
        padding: 0;
    }
    nav li {
        padding: 0.1rem 0.5rem;
        list-style-type: none;
    }
    nav li:hover {
        cursor: pointer;
        background-color: rgb(188 147 118);
    }
    a {
        font-size: 0.8rem;
        font-weight: 600;
        text-decoration: none;
        color: white;
    }
    /* ----------------------------------------------------- LAYOUT STRUCTURE ----------------------------------------------------- */
    h2 {
        margin-bottom: 0;
    }
    article, .skills, .edu , .social-media, #hobbies {
        border: 3px solid #121831;
        margin: 1rem 1.7rem;
        padding: 0rem 1rem;
    }
    /* ----------------------------------------------------- SKILLS AND EXPERTISE ----------------------------------------------------- */
    .social-media-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .social-media-container a, .social-media-container p {
        font-size: 1rem;
        color: #121831;
        letter-spacing: 2px;
        text-align: center;
    }
    .social-media-container-a {
        grid-column: 1 / span 1;
    }
    .social-media-container-b {
        grid-column: 2 / span 2;
    }
    .social-media-img {
        width: 20%;
        margin: 0.5rem 4rem 0;
    }
    .social-media li {
        list-style-type: none;
    }
    .skills ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .skills li {
        list-style: none;
    }
    .skills img{
        width: 35%;
    }
    /* ----------------------------------------------------- FOOTER -----------------------------------------------------*/
    h4 {
        text-align: center;
    }
    .hobby {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .hobby img {
        width: 50%;
        margin: 0rem 2rem 1rem;
    }
}
/*--------------------------------------------------------  RESPONSIVENESS FOR TABLET -------------------------------------------------------*/
@media only screen and (min-width:  768px){
    nav ul {
        justify-content: space-evenly;
    }
    .animation {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    picture {
        /* padding: 1rem; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        width: 100%;
        margin-left: 0.8rem;
        margin-top: 18px;
    }
    .title {
        position: absolute;
        top: 80px;
        right: 97px;
        text-align: center;
        padding: 0.5rem 0;
        margin: 0;
        border: solid;
        width: 17vw; 
        border-color: black;
    }
    .hi {
        position: revert;
        top: 121px;
        right: 66px;
        font-size: 1.5rem;
    }
    .email {
        margin-top: 0.7rem;
    }
    .email p {
        font-size: 1rem;
    }
    button {
        font-size: 0.8rem;
    }
    .up {
        width: 3%;
        position: fixed;
        right: 2px;
        bottom: 17px;
    }
    .skills-expertise {
        display: flex;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
/*--------------------------------------------------------  RESPONSIVENESS FOR DESKTOP -------------------------------------------------------*/
@media only screen and (min-width: 1008px){
    .title {
        top: 80px;
        right: 130px;
    }
    a {
        font-size: 1rem;
    }
    main p, .email p {
        font-size: 1rem;
    }
    .email {
        margin-top: 0.5rem;
        padding: 0;
    }
    button {
        font-size: 1rem;
    }
    .up {
        width: 4%;
        right: 8px;
    }
    h4 {
        font-size: 1.2rem;
    }
    .skills-expertise {
        display: flex;
    }
    .social-media-img {
        width: 20%;
    }
    .social-media-container-a:hover, .social-media-container-b:hover {
        padding: 10px;
        /* right bottom left top */
        box-shadow: 2px 1px 20px 5px #121831;
    }
}