body,html {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
}
/* ------------------------------- HERO BANNER IMAGE ----------------------- */
.hero-banner {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/Image/hero-banner-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; */
    background-color: #f5f7fa;
    height: 100%;
}
header {
    display: flex;
    align-items: center;
    height: 50vh;
    justify-content: center;
}
/* ------------------------------- THE ELEMENT TO APPLY THE ANIMATION -----------------------*/
.animation {
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 65vh;
    border: solid 15px;
    border-color: rgb(127 136 131);
    animation-name: animatedBorder;
    animation-duration: 2s;
    animation-iteration-count: infinite;    
    animation-timing-function: ease-in;
    animation-direction: alternate;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
@keyframes animatedBorder {
    0% {border-color: rgb(127 136 131);}
    25% {border-color: rgb(189 191 180);}
    75% {border-color: rgb(188 147 118);}
    100% {border-color: rgb(195 172 130);}
}
picture {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    padding: 0rem 1rem;
   
}
img {
    width: 100%;
    /* border-radius: 100%; */
}
/* Title */
.title {
    text-align: center;
    align-items: center;
    padding: 1rem 0;
    margin: 0;
    border: solid;
    width: 15vw; 
    border-color: black;
    position: relative;
    float: right;
    bottom: 75px;
}
h1, h2, h3 {
    font-family: 'Jost', sans-serif;
}
.hi {
    font-size: 2rem;
}
/* ------------------------------ EMAIL ---------------------------------- */
.email {
    display: flex;
    justify-content: space-around;
    justify-items: end;
    position: relative;
    top: 3rem;
    border-top: 2px solid #121831;
    border-bottom: 2px solid #121831;
    border-left: none;
    border-right: none;
    padding: 1rem 0rem;
}
.email p {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
} 
button {
    padding: 1rem;
    background-color: #121831;
    color: white;
    border: 1px solid #121831;
}
button:hover {
    background-color: rgb(195 172 130);
    color: black;
    font-weight: 500;
}